@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.container {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "header header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar footer footer footer";
}

main {
    grid-area: main;
}

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr auto 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }
}